
@{
    ViewBag.Title = "Tiwoo Bulls and Cows";
    Layout = "~/Views/_MyLayout.cshtml";
}

<section id="theHead">
    <article>
        <input type="button" id="codeGenerator" value="Start" />
    </article>
</section>

<section id="theCode">
    <article id="codeTitle">Code:</article>
    <article id="codeBox"> </article>
</section>

<section id="bouton">
    <input type="button" id="submit" value="Submit" />
    <input type="text" id="codeUser" />
</section>

<section id="corps">
    
</section>

